:root
{
    --couleurRouge-color : #D20024;
    --fontPolice-font-family: 'Montserrat';
    --couleurBlanche-color:white
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 1rem;
}
.entete
{
   background: #4b4d5f;
    display: flex;
    justify-content: space-between;
    height: 3em;
   padding-left: 10em;
   padding-right: 10em;
}
.contact 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    align-items: center;
}
.contact1
{
    display: flex;
    gap: 0.6em;
    color: aliceblue;
    font-family:var(--fontPolice-font-family) ;
}
.fa-phone,  .fa-envelope, .fa-location-dot 
{
    color: var(--couleurRouge-color);
}
.compte
{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    color: aliceblue;
    font-family:var(--fontPolice-font-family) ;
}
.fa-dollar-sign, .fa-lock
{
    color: var(--couleurRouge-color);
}
.header
{
    background: #1E1F29;
    display: flex;
    justify-content: space-between;
    height: 5em;
    padding-left: 10em;
    padding-right: 10em;
    align-items: center;
}
.logo p
{
    color: var(--couleurBlanche-color);
    font-size: 2.9em;
    font-family: sans-serif;
    font-weight: bold;
}
.logo span
{
    color: var(--couleurRouge-color);
    font-size: 0.6em;
}
.search
{
    display: flex;
    background: var(--couleurBlanche-color);
    align-items: center;
    gap: 1em;
    border-radius: 1.2em;
}
select
{
    width: 10em;
    height: 3em; 
    background: var(--couleurBlanche-color);
    border-top-left-radius:1em;
    border-bottom-left-radius:1em;
    border-right:solid gray 0.02em;
    padding-left: 1em;
    border-top: none;
}
select, input[type=button]
{
    font-family: var(--fontPolice-font-family);
}
input
{
    border: none;
}
input[type=button]
{
    background: var(--couleurRouge-color);
    height: 3em;
    width: 7em;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    color: var(--couleurBlanche-color);
    font-weight: 700;
}
.panier
{
    display: flex;
    height: 2.8em;
    align-items: center;
    gap: 1em;
    color: var(--couleurBlanche-color);
    font-family: var(--fontPolice-font-family);
}
.cart1
{
    margin-left: 1.8em;
    margin-bottom: 0.6em;
}
sup
{
    color:var(--couleurRouge-color);
}
.nav-bar
{
    border-top: solid var(--couleurRouge-color);
    border-bottom: solid 0.01em  gray;
    display: flex;
    height: 4em;
    gap: 1.8em;
    align-items: center;
    padding-left: 10em;
    font-family: var(--fontPolice-font-family);
    font-size: 1.3em;
}
.menu:hover
{
    color: #D20024;
    text-decoration:underline;
}
.un
{
    color: var(--couleurRouge-color);
}
.main-content
{
    padding-left: 10em;
    padding-right: 10em;
    margin-top: 2em;
}
.cadre-one
{
    display: flex;
    justify-content: space-between;
}
.cadre1
{
    width: 31%;
    height: 22em;
    background-image: url(images/7b485713-d18b-4906-b44d-c79921f87c54.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    position: relative;
    overflow: hidden;
}
.cadre1::after, .cadre2::after, .cadre3::after
{   content: "";
    background: var(--couleurRouge-color);
    position: absolute;
    height: 100%;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotate(-60deg) translate(-2em,-11em);
}
.cad-position
{
    position: absolute;
    top: 0;
    z-index: 100;
}
.cadre2
{
    background:url(images/481e6860-951e-488c-876a-99b2644a5620.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
}
.cadre2, .cadre3
{
    width: 33%;
    height: 22em;
    position: relative;
    overflow: hidden;
}
.cadre3
{
    background: url(images/f48d9679-b4b3-46b0-bc8c-556a7dc38a73.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
}
.cad1
{
    margin-top: 3em;
    margin-left: 1em;
    font-weight: bold;
    width: 20%;
    font-size: 2rem;

}
.cad1,.cad2
{
    color: var(--couleurBlanche-color); 
    font-family: var(--fontPolice-font-family);
}
.cad2
{
    margin-left: 1.9em;
    margin-top: 1.3em; 
}
.titre
{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}
h1, .sous-menu, h2
{
    font-family: var(--fontPolice-font-family);
}
.sous-menus
{
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.2rem;
    font-weight: bold;
}
.sous-menu:hover, .one
{
    color: var(--couleurRouge-color);
    text-decoration:underline;
}
.cadre-two
{
    margin-top: 3em;
    display: flex;
}
.card img
{
   width: 95%;
}
.card-title, h2, .prix, .card-footer, .etoile
{
    text-align: center;
    padding-top: 1em;
}
.card-title, .card-footer,  del
{
    color: gray;
    font-family: var(--fontPolice-font-family);
    opacity: 0.5;
}
.etoile
{ 
    color: var(--couleurRouge-color);
    position: relative;
   
}
.etoile::before
{
     content: "";
     border: solid 0.01em gray ; 
     position: absolute;
     opacity: 0.5;
     width: 40%;
     transform: rotate(180deg)  translate(15% , -350%);
     position: absolute;
     z-index: -12;
}
.fa-heart
{
    margin-right: 1em;
}
.fa-eye
{
    margin-left: 1em;
}
